---
title: 'Welcome'
layout: main
---

<div class="row bodyContent container-fluid">

    <div class="visible-lg">

        <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="parallaxBgA fullWidth row mainHeaderSection" style="border: 5px solid #431e66; border-radius: 15px;">
                    <h1 class="text-center mainHeaderTitle">Hi! I'm <span style="color: #ff7ad0; text-shadow: 5px 0px #8f38a1;">Toby Kind</span><br>I'm a <span style="color: #ff7ad0; text-shadow: 5px 0px #8f38a1;">multimedia artist</span> and <span style="color: #ff7ad0; text-shadow: 5px 0px #8f38a1;">developer</span>.</h1>
                    <p class="mainSectionParagraph">
                        My name is Toby Kind, or Sushipop! Welcome to my home on the web!
                        I am a digital artist, game developer, programmer, and sometimes musician who loves to make expressive and wild designs.
                        This site will be a place for me to host my art and projects, and also blog about hobbies, opinions, and helpful tutorials that might give you a hand!
                    </p>
                </div>

                    <!--<div class="row mainSection fullWidth aboutMe">

                        <div class="col-md-10 my-auto">
                            <h1 class="mainSectionTitle">About Me!</h1>
                            <p class="mainSectionParagraph">
                                My name is Toby Kind, or Sushipop! Welcome to my home on the web!
                                I am a digital artist, game developer, programmer, and sometimes musician who loves to make expressive and wild designs.
                                This site will be a place for me to host my art and projects, and also blog about hobbies, opinions, and helpful tutorials that might give you a hand!
                            </p>
                        </div>        

                    </div>-->
                
                <div class="fullWidth row traditionalInked container-fluid" style="background-color: #b22e69; border: 5px solid #431e66; border-radius: 15px;">
                        <div class="col-md-8 mainSection">
                            <h1 class="mainSectionTitle">Want to commision me?!</h1>
                            <p class="mainSectionParagraphTwo">
                                Want to commision art from me? Check my commisions page!<br>
                            </p>

                            <a href="{{site.baseurl}}/commisions.html" class="btn btn-primary btn-lg">Commision Info</a>

                        </div>
                </div>

                <div class="fullWidth row aboutMe container-fluid" style="background-color: #431e66; border: 5px solid #431e66; border-radius: 15px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 mainSection" style="padding: 20px;">
                        <h1 class="mainSectionTitle" style="margin-left: -7%;">Recent Blog Post!</h1>

                        {% for post in site.posts limit: 1%}
                        <li class = "articleListBox row" align="left" style="background-color: #81214d">
                            <div class="col-xs-3 hidden-md">
                                <img class="articleListImage" src="{{ site.baseurl}}/{{post.thumbnail}}">
                            </div>
        
                            <div class="col-xs-8 visible-xs">
                                <a class="articleListUrl" href={{post.url}}>{{ post.title }}</a><br/>
                                <span class="articleListInfo">{{ post.date | date: "%b %-d, %Y" }}</span>
                                <p class="articleListParagraph">{{ post.description }}</p>
                            </div>
                            <div class="col-xs-7 hidden-xs">
                                    <a class="articleListUrl" href={{post.url}}>{{ post.title }}</a><br/>
                                    <span class="articleListInfo">{{ post.date | date: "%b %-d, %Y" }}</span>
                                    <p class="articleListParagraph">{{ post.description }}</p>
                            </div>
        
                        </li>
                        {% endfor %}
                    </div>
                </div>
        </div>

    </div>


    <div class="visible-md visible-sm">
            
        <div class="col-md-1"></div>
            
            <div class="col-md-10">
                <div class="parallaxBgA fullWidth row mainHeaderSection" style="border: 5px solid #431e66; border-radius: 15px;">
                    <h1 class="text-center mainHeaderTitle">Welcome to my Page!</h1>
                </div>

                    <div class="row mainSection aboutMe fullWidth">

                        <div class="col-md-10 my-auto">
                            <h1 class="mainSectionTitle">About Me!</h1>
                            <p class="mainSectionParagraph">
                                My name is Toby Kind, or Sushipop! Welcome to my home on the web!
                                I am a digital artist, game developer, programmer, and sometimes musician who loves to make expressive and wild designs.
                                This site will be a place for me to host my art and projects, and also blog about hobbies, opinions, and helpful tutorials that might give you a hand!
                            </p>
                            
                        </div>     

                    </div>
                
                <div class="fullWidth row traditionalInked container-fluid" style="background-color: #b22e69; border: 5px solid #431e66; border-radius: 15px;">
                        <div class="col-md-8 mainSection">
                            <h1 class="mainSectionTitle">Want to commision me?!</h1>
                            <p class="mainSectionParagraphTwo">
                                Want to commision art from me? Check my commisions page!<br>
                            </p>

                            <a href="{{site.baseurl}}/commisions.html" class="btn btn-primary btn-lg">Commision Info</a>

                        </div>
                </div>

                <div class="fullWidth row aboutMe container-fluid" style="background-color: #431e66; border: 5px solid #431e66; border-radius: 15px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 mainSection" style="padding: 20px;">
                        <h1 class="mainSectionTitle" style="margin-left: -7%;">Recent Blog Post!</h1>

                        {% for post in site.posts limit: 1%}
                        <li class = "articleListBox row" align="left" style="background-color: #81214d">
                            <div class="col-xs-3 hidden-md">
                                <img class="articleListImage" src="{{ site.baseurl}}/{{post.thumbnail}}">
                            </div>
        
                            <div class="col-xs-8 visible-xs">
                                <a class="articleListUrl" href={{post.url}}>{{ post.title }}</a><br/>
                                <span class="articleListInfo">{{ post.date | date: "%b %-d, %Y" }}</span>
                                <p class="articleListParagraph">{{ post.description }}</p>
                            </div>
                            <div class="col-xs-7 hidden-xs">
                                    <a class="articleListUrl" href={{post.url}}>{{ post.title }}</a><br/>
                                    <span class="articleListInfo">{{ post.date | date: "%b %-d, %Y" }}</span>
                                    <p class="articleListParagraph">{{ post.description }}</p>
                            </div>
        
                        </li>
                        {% endfor %}
                    </div>
                </div>
        </div>
        
    </div>

    <div class="visible-xs">
            
        <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="parallaxBgA fullWidth row mainHeaderSection" style="border: 5px solid #431e66; border-radius: 15px;">
                    <h1 class="text-center mainHeaderTitle">Welcome to my Page!</h1>
                </div>

                    <div class="row mainSection aboutMe h-100">

                        <div class="col-md-10 my-auto">
                            <h1 class="mainSectionTitle">About Me!</h1>
                            <p class="mainSectionParagraph">
                                My name is Toby Kind, or Sushipop! Welcome to my home on the web!
                                I am a digital artist, game developer, programmer, and sometimes musician who loves to make expressive and wild designs.
                                This site will be a place for me to host my art and projects, and also blog about hobbies, opinions, and helpful tutorials that might give you a hand!
                            </p>
                            
                        </div>         

                    </div>
                
                <div class="fullWidth row traditionalInked container-fluid" style="background-color: #b22e69; border: 5px solid #431e66; border-radius: 15px;">
                        <div class="col-md-8 mainSection">
                            <h1 class="mainSectionTitle">Want to commision me?!</h1>
                            <p class="mainSectionParagraphTwo">
                                Want to commision art from me? Check my commisions page!<br>
                            </p>

                            <a href="{{site.baseurl}}/commisions.html" class="btn btn-primary btn-lg">Commision Info</a>

                        </div>
                </div>

                <div class="fullWidth row aboutMe container-fluid" style="background-color: #431e66; border: 5px solid #431e66; border-radius: 15px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 mainSection" style="padding: 20px;">
                        <h1 class="mainSectionTitle" style="margin-left: -7%;">Recent Blog Post!</h1>

                        {% for post in site.posts limit: 1%}
                        <li class = "articleListBox row" align="left" style="background-color: #81214d">
                            <div class="col-xs-3 hidden-md">
                                <img class="articleListImage" src="{{ site.baseurl}}/{{post.thumbnail}}">
                            </div>
        
                            <div class="col-xs-8 visible-xs">
                                <a class="articleListUrl" href={{post.url}}>{{ post.title }}</a><br/>
                                <span class="articleListInfo">{{ post.date | date: "%b %-d, %Y" }}</span>
                                <p class="articleListParagraph">{{ post.description }}</p>
                            </div>
                            <div class="col-xs-7 hidden-xs">
                                    <a class="articleListUrl" href={{post.url}}>{{ post.title }}</a><br/>
                                    <span class="articleListInfo">{{ post.date | date: "%b %-d, %Y" }}</span>
                                    <p class="articleListParagraph">{{ post.description }}</p>
                            </div>
        
                        </li>
                        {% endfor %}
                    </div>
                </div>
        </div>
        
    </div>
</div>